<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nvxclouds.operation.biz.mapper.SystemNoticeMapper">


   <!--查询系统通知列表-->
    <select id="getSysNoticeList" resultType="com.nvxclouds.operation.biz.domain.SystemNotice">
                       SELECT
                            sn.ID id,
                            sn.content,
                            sn.created_time createdTime,
                            sn.sub_title subTitle,
                            sn.notice_type noticeType,
                            sn.user_name userName,
                            sn.title
                       FROM
                            system_notice sn
                       WHERE 1=1
                       <if test="query.title!=null and query.title!=''">
                            AND sn.title LIKE concat("%",#{query.title},"%")
                       </if>

                       <if test="query.startTime!=null and query.startTime!=''">
                            AND sn.created_time &gt;= #{query.startTime}
                       </if>
                       <if test="query.endTime!=null and query.endTime!=''">
                            AND sn.created_time &lt;= #{query.endTime}
                       </if>
                            ORDER BY sn.created_time DESC
    </select>





</mapper>
